/* Homepage */
.homepage header .logo {
  display: flex;
  align-items: center;
}

.homepage header .logo img,
footer .footer-logo img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  object-fit: cover;
}

.homepage header .logo h3,
footer .footer-logo h3 {
  color: #fff;
}

.homepage header .logo h3 span,
footer .footer-logo h3 span {
  color: #eec803;
}

.homepage .support-company-area {
  padding-bottom: 80px;
}

/* Footer */

footer .footer-logo {
  display: flex;
  align-items: center;
}
