/* Homepage */
.homepage header .logo {
  display: flex;
  align-items: center;
}

.homepage header .logo img,
footer .footer-logo img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.homepage header .logo h3,
footer .footer-logo h3 {
  color: #fff;
}

footer .footer-logo h3 {
  font-size: 24px;
}

.homepage header .logo h3 span,
footer .footer-logo h3 span {
  color: #eec803;
}

.homepage .support-company-area {
  padding-top: 80px;
  padding-bottom: 80px;
}

.homepage .hero-text1 {
  margin-bottom: 70px;
  visibility: hidden;
}

.homepage .hero-text2 {
  margin-top: 180px;
  visibility: hidden;
}

.homepage #ourServices {
  padding-bottom: 0;
}

/* Our Services */
.our-services .our-services-items .item {
  display: flex;
}

.our-services .our-services-items img {
  width: 50%;
  object-fit: cover;
}

.our-services .our-services-items .mobile-img {
  display: none;
}

.our-services .our-services-items .description {
  width: 50%;
  padding: 80px;
}

.our-services .our-services-items h2 {
  margin-bottom: 30px;
  color: #5c75a9;
  font-weight: bold;
}

.our-services .our-services-items ul {
  padding-left: 20px;
}

.our-services .our-services-items li {
  margin-bottom: 10px;
  color: #5c75a9;
  list-style-type: disc;
}

.our-services .our-services-items li:last-child {
  margin-bottom: 0;
}

/* Footer */

footer .footer-logo {
  display: flex;
  align-items: center;
}

/* Media Query */
@media (max-width: 767px) {
  .header-area .header-bottom {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .homepage header .logo img,
  footer .footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  .homepage header .logo h3,
  footer .footer-logo h3 {
    margin-bottom: 0;
    font-size: 20px;
  }

  .homepage .hero-text1 {
    margin: 0;
  }

  .footer-area .single-footer-caption.site-content {
    justify-content: left;
  }

  .our-services .our-services-items {
    margin-bottom: 50px;
  }

  .our-services .our-services-items .item {
    padding-top: 50px;
    flex-direction: column;
  }

  .our-services .our-services-items .description {
    width: 90%;
    margin: auto;
    padding: 0;
  }

  .our-services .our-services-items img {
    width: 100%;
    margin-bottom: 20px;
  }

  .our-services .our-services-items .mobile-img {
    display: block;
  }

  .our-services .our-services-items .img {
    display: none;
  }
}
